---
# Based on LLVM style with modifications for CUDA code
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
PointerAlignment: Left
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
